<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <div class="contact-pane">
          
            
            <table class="table table-condensed">
                <tr>
                    <td rowspan="4">
                        <div  ng-model="contacts">
                            <img src="resources/default_user.png" />
                        </div>
                    </td>
                    <td>
                        <h3>{{contacts[contactIndex].name}}</h3>
                    </td>
                </tr>


            </table>
        </div>
        <div>
            <table class="table table-condensed table-bordered">
                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        {{contacts[contactIndex].name}}
                    </td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{contacts[contactIndex].email}}</td>
                </tr>
                <tr>
                    <th>Phone No:</th>
                    <td>{{contacts[contactIndex].phone_no}}</td>
                </tr>
            </table>
        </div>
        
        <span class="label label-info">maudugaladima@gmail.com</span>
    </div>
    <div class="col-md-2"></div>
</div>
